/* ######## RESET & TYPOGRAPHY ########*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", Helvetica, Segoe, Arial, sans-serif;
  color: #333;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  line-height: 1.5;
  color: #454441;
  background-color: #eee;
}
@media (min-width: 700px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4, h5, h6 {
  font-size: 16px;
}

p {
  margin: 0;
}
li {
  color: #888580;
}
a {
  font-weight: 600;
  color: #555;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style: italic;
}

/* GENERIC */

.container {
  padding: 0 1em 1em;
  width: 97%;
  margin: 0 auto;
}
@media (min-width: 450px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 900px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1100px) {
  .container {
    width: 60%;
  }
}
.text-element {
  display: inline-block;
  margin: 0.1em 0;
}
.list-element {
  display: block;
}
.line-big {
  display: inline;
  font-size: 1.3em;
  font-weight: bold;
}
.line-small {
  display: inline;
  font-size: 1.1em;
}
.bigger {
  font-size: 1.5em;
}
.blue {
  color: #1e85fe;
}
.thin {
  font-weight: 400;
}

/* HEADER */

.topbar { 
  background-color: none;
  height: 3.5em;
  width: 100%;
}
.menu {
  float: right;
  text-align: right;
  height: 2.35em;
  
  /* vertical centering */
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
@media (min-width: 450px) {
  .topbar {
    height: 5em;
  }
}
@media (min-width: 1000px) {
  .topbar {
    height: 6em;
  }
}

/* SEARCH */

.chosen-line {
  margin: 0.1em 0 0;
}
.label {
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  width: 3.2em;
}
.input {
  width: 100%;
  margin: 0.4em 0 0em;
  padding: 0.2em 0.3em;
  font-size: 2.2em;
  border-radius: 0;
  border: none;
  background-color: #fff;
}
.input::-moz-selection {
    background-color: #1e85fe;
    color: white;
}
.input::selection {
    background-color: #1e85fe;
    color: white;
}
.suggest-element {
  margin: 0.3em 0 0 0.8em;
}

/* SEARCH RESULTS */

.search-results {
  margin-top: 2em;
}
.search-results .line-big {
  display: inline-block;
  width: 5.7em;
  margin-bottom: 0.3em;
}

/* ROUTE DETAILS */

.timestamp {
  
}
.left-column {
  display: inline-block;
  width: 3em;
}
.connection-symbol {
  height: 1em;
  margin: 0.2em 0 0 0.8em;
}
.intermediate-block {
  margin: 1.3em 0;
}
