/* ######## RESET & TYPOGRAPHY ########*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", Roboto, Helvetica, Segoe, Arial, sans-serif;
  color: #333;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #454441;
  background-color: #eee;
}

@media (min-width: 500px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 24px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4, h5, h6 {
  font-size: 16px;
}

p {
  margin: 0;
}
li {
  color: #888580;
}
a {
  font-weight: 600;
  color: #555;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
button, input {
  border-radius: 0;
  border: none;
  box-shadow:none;
  background-image: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style: italic;
}

/* GENERIC */

.container {
  position: relative;
  width: 97%;
  padding: 0 1em 1em;
  margin: 0 auto;
}
@media (min-width: 450px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 600px) {
  .container {
    width: 75%;
  }
}
@media (min-width: 900px) {
  .container {
    width: 65%;
  }
}
@media (min-width: 1100px) {
  .container {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 45%;
  }
}
@media (min-width: 1700px) {
  .container {
    width: 35%;
  }
}
.active-section .collapse {
  padding-bottom: 1.5em;
}
.main-section {
  position: absolute;
  left: 0;
  padding: 0 1em;
  width: 100%;
}
.search-visible {
  transform: translateX(0);
  transition: transform 0.2s ease-out 0.04s;
  -webkit-transition: transform 0.2s ease-out 0.04s;
}
.search-hidden {
  transform: translateX(-200%);
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
}
.details-hidden {
  transform: translateX(200%);
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
}
.details-visible {
  transform: translateX(0);
  transition: transform 0.2s ease-out 0.04s;
  -webkit-transition: transform 0.2s ease-out 0.04s;
}
.input-section-visible {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
}
.input-section-hidden {
  transform: translateX(-200%);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}
.icon-visible {
  transform: translate(0, -50%);
  transition: transform 0.2s ease-out 0.02s;
  -webkit-transition: transform 0.2s ease-out 0.02s;
}
.icon-hidden-left {
  transform: translate(-3000%, -50%);
  transition: transform 0.2s ease-out 0.02s;
  -webkit-transition: transform 0.2s ease-out 0.02s;
}
.icon-hidden-right {
  transform: translate(3000%, -50%);
  transition: transform 0.2s ease-out 0.02s;
  -webkit-transition: transform 0.2s ease-out 0.02s;
}
.text-element {
  display: inline-block;
  margin: 0.1em 0;
}
.list-element {
  display: block;
}
.line-big {
  display: inline;
  font-size: 1.3em;
  font-weight: bold;
}
.line-small {
  display: inline;git
  font-size: 1.1em;
}
.bigger {
  font-size: 1.42em;
}
@media (min-width: 400px) {
  .bigger {
    font-size: 1.5em;
  }
}
.blue {
  color: #1e85fe;
}
.thin {
  font-weight: 400;
}
.clearfix {
  overflow: auto;
}

/* HEADER */

.topbar { 
  position: relative;
  background-color: none;
  height: 4em;
  width: 100%;
}
.icon {
  /* vertical centering */
  position: absolute;
  top: 50%;
  //transform: translateY(-50%);
  //-webkit-transform: translateY(-50%);
  
  height: 2.35em;
  cursor: pointer;
}
.right {
  right: 0;
}
.left {
  left: 0;
}
@media (min-width: 450px) {
  .topbar {
    height: 5em;
  }
}
@media (min-width: 1000px) {
  .topbar {
    height: 6em;
  }
}

/* SEARCH */

.chosen-line {
  margin: 0.1em 0 0;
}
.chosen-data {
  width: 100%;
}
.chosen-data > * {
  cursor: pointer;
}
.label {
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  width: 3.2em;
}
.input {
  width: 100%;
  margin: 0.1em 0 0.1em;
  padding: 0.2em 0.3em;
  font-size: 2.2em;
  background-color: #fff;
}
.input.time {
  width: 80%;
  float: left;
}
.submit-btn {
  width: 17%;
  float: left;
  margin: 0;
  padding: 0.2em 0 0.2em 0.3em;
  font-size: 2.2em;
  background-color: #eee;
  cursor: pointer;
}
.submit-icon {
  height: 1.1em;
  margin-top: 0.2em;
}
@media (min-width: 540px) {
  .input.date {
    width: 54%;
    float: left;
    margin-right: 3%;
  }
  .input.time {
    width: 30%;
  }
  .submit-btn {
    width: 12%;
  }
}
@media (min-width: 600px) {
  .input.date {
    width: 54%;
  }
  .input.time {
    width: 30%;
  }
  .submit-btn {
    width: 11%;
  }
}
@media (min-width: 1100px) {
  .input.time {
    width: 28%;
  }
  .submit-btn {
    width: 11%;
  }
}
.input:valid {
  box-shadow: inset 0 0 0 -2 rgba(251, 66, 20, 0);
  transition: box-shadow 0.1s ease-out;
}
.input:invalid {
  box-shadow: inset 0 0 0 0.05em #FB4214;
  transition: box-shadow 0.1s ease-out;
}

.input::-moz-selection {
    background-color: #1e85fe;
    color: white;
}
.input::selection {
    background-color: #1e85fe;
    color: white;
}
.suggest-element {
  margin: 0 0 0 0.8em;
  cursor: pointer;
}
.no-matches {
  font-size: 1.3em;
  font-style: italic;
  color: #666;
}
.cancel-input {
  float: right;
  height: 1.6em;
  margin-top: 0.2em;
}

/* SEARCH RESULTS */

.search-results, .error {
  margin-top: 2em;
}
.error h3 {
	margin-bottom: 0.3em;
}
.search-results .line-big {
  display: inline-block;
  width: 5.7em;
  margin-bottom: 0.3em;
}
.text-element.list-element {
  cursor: pointer;
}

/* Loading icon */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
.spinner {
	width: 6em;
	margin: 3em auto;
	animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}

/* ROUTE DETAILS */

.left-column {
  display: inline-block;
  width: 3em;
}
.connection-symbol {
  height: 1em;
  margin: 0.2em 0 0 0.8em;
}
.intermediate-block {
  margin: 1.3em 0;
}

/* SETTINGS */

.settings-title {
  font-size: 3.2em;
  font-weight: 200;
  text-transform: uppercase;
}
.settings-element {
  margin: 1em 0;
}
.about-section {
  margin-top: 1em;
}
.about-section p {
  margin-bottom: 1em;
}

/* NOSCRIPT */

.nsc-head {
	font-size: 2.2em;
	font-weight: 800;
	letter-spacing: 0.02em;
		margin: 1em 0;
}
.nsc-txt {
	margin: 1em 0;
	font-size: 1.2em;
	font-weight: 400;
}